@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500;600&display=swap');
* {
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: white;
    line-height: 1.5;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    font-size: 22px;
    margin-right: 7px;
}

#menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

header {
    width: 100%;
    background-color: #262626;
    z-index: 1000;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition:  0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width:  25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 800px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        max-width: 100%;
        position: fixed;
        left:  -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media(max-width: 400px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        max-width: 93%;
        position: fixed;
        left:  -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}


/*                                  */


/*           foto qr button men's women's           */
.material-posle-header {
    max-width: 100%;
}

#backgraund-foto {
    width: 100%;
}

.text-re-ingeneered {
    color: white;
    margin-top: -25%;
    margin-left: 13.8%;
    font-size: 17.6px;
}

.text-new-wood-frames {
    color: white;
    font-size: 67px;
    width: 301px;
    margin-left: 13.8%;
}

@media(max-width: 800px) {
    .text-re-ingeneered {
        margin-top: -30%;
        margin-left: 5%;
        font-size: 15px;
    }

    .text-new-wood-frames {
        font-size: 40px;
        margin-left: 5%;
    }
}
/*                                     */

/*         BUTTON        */

.wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 70%;
    margin-left: 13%;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #2e31e5;
    box-shadow: 0px 15px 20px rgba(32, 121, 238, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

@media(max-width: 800px) {
    .wrap {
        margin-left: 5%;
    }
    
    .button {
        width: 100px;
        height: 30px;
        font-size: 8px;
        font-weight: 700;
    }
}

/*                  */












/* Slider */

/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
/*Стили для демонстрации*/
.wrapper{
	height: 100%;
    margin-top: 10%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:800px){
	.wrapper{padding: 50px 10px;}
}

@media (max-width:400px){
	.wrapper{
        padding: 0 0;
    }
}
/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	background: url('img/left-arrow.png') 0 0 / 100% no-repeat;
    width: 40px;
    margin: 15% 0;
}
.slider .slick-arrow.slick-next{
	background: url('img/right-arrow.png') 0 0 / 100% no-repeat;
    width: 40px;
    margin: 15% 3%;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid blue;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}

.div-posle-slidera {
    margin-top: 8%;
}   
.soz-qazaq-repablic {
    z-index: 10;
    font-size: 129px;
    margin-top: -10%;
    margin-left: 20%;
    font-weight: 900;
    color:white;
}

.div-posle-slidera .wrap  {
    justify-content: center;
    margin-left: -1%;
    margin-top: -12%;
    width: 100%;
}

@media(max-width: 800px) {
    .soz-qazaq-repablic {
        font-size: 50px;
    }
}

/*                                     */


.our-story-wrap {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 70%;
    margin-left: 25%;
    margin-top: 4%;
}

.our-story-button {
    width: 170px;
    height: 45px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(83, 107, 245);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.our-story-button:hover {
    background-color: #2e31e5;
    box-shadow: 0px 15px 20px rgba(32, 121, 238, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


#born-free-img {
    border-radius: 50px;
    width: 700px;
    margin-top: 10%;
    margin-left: 50%;
}

#qazaq-id-soz {
    font-size: 120px;
}

.qazaq-soz {
    margin-top: 1%;
    margin-left: 50%;
}

.hr {
    background: rgb(89, 89, 255);
    height: 7px;
    width: 100px;
    margin-left: 75%;
    margin-top: -5%;
}

.are-born-soz {
    margin-left: 23%;
    margin-top: 2%;
}

.to-be-free {
    margin-left: 23%;
    margin-top: -3%;
}

.in-peace {
    margin-left: 50%;
    margin-top: -3%;
}

@media(max-width: 800px) {
    #born-free-img {
        max-width: 45%;
    }

    #qazaq-id-soz {
        font-size: 60px;
    }
    
    .hr {
        height: 4px;
        margin-left: 80%;
    }
    .mens-button {
        padding-right: 20px;
        margin-top: 4px;
    }
    .our-story-button {
        width: 120px;
        height: 30px;
        margin-left: -80%;
        font-size: 8px;
        font-weight: 700;
    }
}


/*               Footer                */
.footer {
    margin-top: 5%;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: blue;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 800px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 400px){
    .footer-col{
        width: 100%;
    }
}
/*            */