/*         NAVBAR          */
/* .header {
    padding: 0;
    margin: 0;
}

.logo-qr {
    margin-left: 10%;
    margin-top: -8%;
}
#logo {
    height: 300px;
}

hr{
    margin-left: 22%;
    margin-top: -10.5%;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 75px;
    width: 1px;
}

.navbar {
    display: flex;
    margin-left: 40%;
    justify-content: space-between;
    margin-right: 38%;
    margin-top: -3%;
}

#navbar-sozderi {
    color: black;
    text-decoration: none;
}

.icons {
    margin-left: 78%;
    margin-top: -1.3%;
}

#icon-login {
    width: 35px;
}
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: black;
    --main-color: blue;
}

body {
    min-height: 100vh;
    background: white;
    color: var(--text-color);
}

.backgraund-div-header {
    position: absolute;
    height: 200px;
    color: white;
    z-index: -10;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
}
/* .logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
} */

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--text-color);
    font-size: 22px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

/* Navbar adaptation media */
@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active {
        color: var(--text-color)
    }
    .navbar.open {
        right: 2%;
    }
}
/*                                  */


/*           foto qr button men's women's           */
.material-posle-header {
    margin-top: 2%;
    margin-left: -1%;
}

#backgraund-foto {
    margin-top: -1.1%;
    width: 100%;
}

.text-re-ingeneered {
    color: white;
    margin-top: -25%;
    margin-left: 13.8%;
    font-size: 17.6px;
}

.text-new-wood-frames {
    color: white;
    font-size: 67px;
    width: 301px;
    margin-left: 13.8%;
}


.mens-button {
    width: 90px;
    height: 45.3;
    border-radius: 25px;
    background: rgb(60, 60, 255);
}

/*                                     */

/*         BUTTON        */

.wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 70%;
    margin-left: 13%;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #2e31e5;
    box-shadow: 0px 15px 20px rgba(32, 121, 238, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/*                  */

/* Slider */

/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
/*Стили для демонстрации*/
.wrapper{
	height: 100%;
    margin-top: 10%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	background: url('img/left-arrow.png') 0 0 / 100% no-repeat;
    width: 40px;
    margin: 15% 0;
}
.slider .slick-arrow.slick-next{
	background: url('img/right-arrow.png') 0 0 / 100% no-repeat;
    width: 40px;
    margin: 15% 3%;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid blue;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

