

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: black;
    --main-color: blue;
}

body {
    min-height: 100vh;
    background: white;
    color: var(--text-color);
}

.backgraund-div-header {
    position: absolute;
    height: 200px;
    color: white;
    z-index: -10;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
}
/* .logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
} */

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--text-color);
    font-size: 22px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

/* Navbar adaptation media */
@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active {
        color: var(--text-color)
    }
    .navbar.open {
        right: 2%;
    }
}


.man{
     margin: 15vh auto;
     height: 95vh;
     width: 100%;
}
#main_img{
    height: 80vh;
    width: 100%;
    position: absolute;
    float: left;
}
#span{
    margin: 0 auto;
    position: relative;
    width: 105vh;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15vh;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    padding-top: 20vh;
}

.text{
    text-align: center;
    align-items: center;
    margin: 18vh auto;
    font-size: 3vh;
    font-family: 'Karla', sans-serif;
    width: 130vh;
    height: 17vh;
    padding: auto;
    letter-spacing: 2px;
    word-spacing: 13px;
    opacity: 0.8;
}

._hr{
    width: 90%;
    margin: 0 auto;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    float: right;
    margin-right: 15vh;
}
.map_img, .mapouter{
    display: inline-block;
    margin: 10vh 10vh;
}
.map_img{
    height: 500px;
    width: 500px;
    margin-left: 15vh;
}
.map_img img{
    height:500px;
    width: 700px;
    margin: 0vh 10vh;
}


#cont{
    margin: 10vh;
}

.video_text, .video_v {
    display: inline-block;
    width: 70vh;
    margin: 10vh auto;
    margin-left: 25vh;
}
#text_v{
    position: relative;
    width: 70vh;
    height: 40vh;
    font-size: 21px;
    padding: 0 5vh;
}
#video{
    position: relative;
    width: 95vh;
}

.hover::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
    color: white;
  }
  
.hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: white;
  }
  
 .hover::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: blue;
    color: white;
    z-index: -1;
    transition: transform 1s ease;
  }
  
.hover {
    position: relative;
    font-size: 4rem;
    margin: 10px auto;
    width: 40%;
    text-align: center;
    justify-content: center;
    color: white;
}
.hover p {
    font-size: 1rem;
}
  

  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }


.div{
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}  .loop-wrapper {
    background: rgb(110, 218, 245);
    margin: 0 auto;
    position: relative;
    display: block;
    width: 60%;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
  }
  .mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px blue,
      60px 50px 0 70px blue,
      90px 90px 0 50px blue,
      250px 250px 0 50px blue,
      290px 320px 0 50px blue,
      320px 400px 0 50px blue
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
  }
  .hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 
      0 0 0 50px red,
      -20px 0 0 20px red,
      -90px 0 0 50px red,
      250px 0 0 50px red,
      290px 0 0 50px red,
      620px 0 0 50px red;
    animation: hill 4s 2s linear infinite;
  }
  .tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px; 
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  }
  .rock {
    margin-top: -17%;
    height: 2%; 
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #ddd;
  }
  .truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #eee;
  }
  .truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
  }
  .truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
      -30px 28px 0 1.5px #fff,
       -35px 18px 0 1.5px #fff;
  }
  .wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
  }
  
  .tree  { animation: tree 3s 0.000s linear infinite; }
  .tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
  .tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
  .rock  { animation: rock 4s   -0.530s linear infinite; }
  .truck  { animation: truck 4s   0.080s ease infinite; }
  .wheels  { animation: truck 4s   0.001s ease infinite; }
  .truck:before { animation: wind 1.5s   0.000s ease infinite; }
  
  
  @keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  
  @keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
  }
  @keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
  }
  @keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
  }
  @keyframes mtn {
    100% {
      transform: translateX(-2000px) rotate(130deg);
    }
  }
  @keyframes hill {
    100% {
      transform: translateX(-2000px);
    }
  }
  
  