.header {
    padding: 0;
    margin: 0;
}

.logo-qr {
    margin-left: 10%;
    margin-top: -8%;
}
#logo {
    height: 300px;
}

hr{
    margin-left: 22%;
    margin-top: -10.5%;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 75px;
    width: 1px;
}

.navbar {
    display: flex;
    margin-left: 40%;
    justify-content: space-between;
    margin-right: 38%;
    margin-top: -3%;
}

#navbar-sozderi {
    color: black;
    text-decoration: none;
}

.icons {
    margin-left: 78%;
    margin-top: -1.3%;
}

#icon-login {
    width: 35px;
}


.story_chast{
    width: 100%;
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}
.text, .images{
    padding: 1em;
    verticle-align:middle;
    height: 50%;
}
.text{
    width: 80vh;
    margin: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Alkalami', serif;
    font-family: 'Roboto', sans-serif;
}
.images{
   width: 100vh;
}
#img_1{
    display: inline;
    height: 100%;
    width: 55%;
    object-fit: cover;
}
#img_2{
    float: right;
    height: 40%;
    width: 40%;
    object-fit:fill;
    margin: 60px 50px 0 -100px;
}

#zagalovok{ 
    width: 100%;
    width: 70vh;
    font-size: 70px;
    margin-left: 0;
    padding: 20px 0 0 0 ;
    color: rgb(4, 4, 91);
}
#history{
    margin: 30px 0;
    width: 100%;
    width: 60vh;
    font-size: 21px;
    word-spacing: 5px;
    color: rgb(5, 5, 30);
    opacity: 0.8;
}
#explore_button{
    border: 1px solid  rgb(4, 4, 91);
    width: 28vh;
    height: 5vh;
    color: white;
    text-align: center;
    background-color:  rgb(4, 4, 91);
    padding: 15px 0 0 0;
    font-size: 20px;
    text-transform: uppercase;
}
#ed{
    color: white;
}

.image_text{
    width: 100%;
   
}
.image_text img{
    width: 100%;
    margin: 20px auto;
    object-fit: contain;
}
.history_story{
    width: 100%;
    
    background-image: url("https://static.wixstatic.com/media/4a879f_a60314f65db5472eb0cec4d5d8aaece3~mv2.png/v1/fill/w_624,h_538,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Q-Faded6.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.history_story p{
   width: 150vh;
   font-size: 21px;
   margin: 0 auto;
   color: rgb(107, 101, 124);
   font-family: 'Abyssinica SIL', serif;
   font-family: 'Alkalami', serif;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   padding-top: 50px;
}



.discount{
    display: flex;
    width: 180vh;
    margin: 20vh auto;
    border: 1px solid rgb(70, 70, 133, 0.2);
    background-color: rgb(168, 161, 161, 0.2);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.discount p{
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(40, 40, 151);
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Alkalami', serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


#form label{
    font-size: 17px;
    opacity: 0.9;
    font-family: 'Lucida Sans', sans-serif;
}
.check, #email, #button{
    border-radius: 5px;
    border-color: rgb(70, 70, 133, 0.5);  
}
#email{
    height: 4vh;
    width: 35vh;
    margin-right: 20px;
}
#button{
    width: 25vh;
    height: 6vh;
    background-color:  rgb(70, 70, 133);
    color: white;
}

#d_image{
    width: 50vh;
    height: 100%;
}
#d_text{
    width: 85vh;
    height: 100%;
}




.faqs{
    font-family: 'Roboto', sans-serif;
    max-width: 80vh;
    margin: 0 auto;
    
}
.questions{
    margin-left: -20vh;
}
.faqs h2{
    padding: 4px 32px;
    font-size: 28px;
    color: blue;
    justify-content: center;
    margin: 10vh auto;
    text-align: center;
    align-items: center;
}
.faqs .faq-header{
    display: flex;
    color: grey;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.faqs .faq-header .open,
.faqs .faq-header .close{
    position: absolute;
    left: 0;
    padding: 0 10px;
    font-size: 22px;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.faqs .faq-header .open.active,
.faqs .faq-header .close.active{
    opacity: 1;
    transform: translateY(0);
}
.faqs .faq-header h3{
    font-size: 20px;
    padding: 0 32px;
}

.faqs .content{
    padding: 0 32px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.faqs .content.active{
    max-height: 600px;
}

