* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: white;
    line-height: 1.5;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    font-size: 22px;
    margin-right: 7px;
}

#menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

header {
    width: 100%;
    background-color: #262626;
    z-index: 1000;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition:  0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width:  25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 800px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        max-width: 100%;
        position: fixed;
        left:  -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-branding {
        font-size: 1rem;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media(max-width: 400px) {
    .hamburger {
        display: block;
    }
    .nav-branding {
        font-size: 1rem;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        max-width: 93.7%;
        position: fixed;
        left:  -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.osnova {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bir {
    margin-top: 5px;
}

.katalog {
    margin-left: 20px;
}

.katalog-photo-1 {
    width: 150px;
    height: 180px;
    margin-bottom: 5px;
}

.katalog-photo-2 {
    height: 570px;   
}

.ush {
    margin: 40px;
}

.name {
    font-size: 40px;
    font-weight: 800;
}

.price-and-art {
    display: flex;
    margin-top: 10px;
}

.art {
    margin-left: 200px;
}

.composition {
    margin-top: 40px;
    display: flex;
}

.comp {
    font-weight: 800;
}

.neden {
    margin-left: 180px;
}

.size {
    margin-top: 40px;
    font-weight: 800;
}

.razmeri {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.xxs {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 80px;
    height: 30px;
}

.colors-soz {
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 20px;
}

.colors {
    display: flex;
}

.white{
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 20px;
}

.blackk {
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: black;
    margin-right: 20px;
}

.bluee {
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: #293474;
    margin-right: 20px;
}

.neponitka {
    display: flex;
}

.n1 {
    margin-top: 40px;
    font-size: 12px;
    color: grey;
    margin-right: 20px; 
}

.last {
    margin-top: 20px;
    display: flex;
}

.add {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 150px; 
    height: 35px;
    margin-right: 20px;
}

.basket_ahah {
    border: 1px solid black;
    width: 40px;
    height: 35px;
}

.div-2-colors {
    display: grid;
    margin-left: 170px;
}

.black {
    background-color: black;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.blue {
    background-color: #293474;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.grey {
    background-color: #999f95;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.bezhevi {
    background-color: #7d6342;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.yellow {
    background-color: #cb8701;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.div-2-common {
    display: flex;
}

.div-2-firsttext {
    font-family: 'Roboto',sans-serif;
}

.ne-turali {
    margin-top: 20px;
    margin-left: 52px;
    font-size: 19px;
    color: gray;
}

.trololo {
    margin-top: 20px;
    margin-left: 120px;
    width: 550px;
    color: gray;
    font-size: 22px;
}

.atatat {
    font-size: 20px;
    color: gray;
    margin-top: 30px;
    margin-left: 170px;
}

.atatatat {
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 170px;
}

.atatatatat {
    font-size: 17px;
    width: 780px;
    margin-top: 10px;
    margin-left: 170px;
}


.faqs{
    font-family: 'Roboto', sans-serif;
    max-width: 80vh;
    margin: 0 auto;
    margin-top: 20px;
}

.questions{
    margin-left: -20vh;
}
.faqs h2{
    padding: 4px 32px;
    font-size: 30px;
    color: rgb(4, 4, 91);
    font-weight: bold;
    justify-content: center;
    margin: 10vh auto;
    text-align: center;
    align-items: center;
}
.faqs .faq-header{
    display: flex;
    color: grey;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.faqs .faq-header .open,
.faqs .faq-header .close{
    position: absolute;
    left: 0;
    margin-left: -100px;
    padding: 0 10px;
    font-size: 22px;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.faqs .faq-header .open.active,
.faqs .faq-header .close.active{
    opacity: 1;
    transform: translateY(0);
}
.faqs .faq-header h3{
    font-size: 25px;
    padding: 0 32px;
    margin-left: -100px;
}

.faqs .content{
    padding: 0 32px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.faqs .content.active{
    max-height: 600px;
    margin-left: -100px;
}

.legend {
    margin-top: 30px;
    margin-left: 180px;
}

.legend:hover {
    display: none;
}

@media screen and (max-width:400px)  {
    .katalog-photo-1 {
        display: none;
    }

    .katalog-photo-2 {
        display: none;
    }

    .legend {
        display: none;
    }

    .ush {
        margin-left: 0px;
        max-width: 220px;
    }

    .art {
        margin-left: 180px;
    }

    .neden {
        margin-left: 140px;
    }

    .atatat{
        margin-left: 20px;
    }

    .atatatat {
        margin-left: 20px;
    }

    .atatatatat {
        margin-left: 20px;
        max-width: 350px;
    }

    .div-2-colors {
        margin-left: 20px;
    }

    .ne-turali {
        display: none;
    }

    .faqs {
        margin-left: 280px;
        max-width: 200px;
    }
}

@media screen and (max-width: 1000px)  {
    .katalog-photo-1 {
        display: none;
    }

    .katalog-photo-2 {
        width: 430px;
        margin-left: -500px;
    }

    .bir {
        margin-left: 500px;
    }

    .art {
        margin-left: 240px;
    }

    .legend {
        display: none;
    }

    .ush {
        margin-left: -50px;
    }

    .atatat{
        margin-left: 20px;
    }

    .atatatat {
        margin-left: 20px;
    }

    .atatatatat {
        margin-left: 20px;
        max-width: 800px;
    }

    .div-2-colors {
        margin-left: 20px;
    }

    .ne-turali {
        display: none;
    }

    .faqs {
        margin-left: 345px;
    }
}

.xxs:active {
    box-shadow: 0 0 0 2px #09f;
}

.add{
    cursor: pointer;
}

.jurek {
    cursor: pointer;
}

.footer {
    margin-top: 5%;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: blue;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 800px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 400px){
    .footer-col{
        width: 100%;
    }
}