* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.osnova {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bir {
    margin-top: 5px;
}

.katalog {
    margin-left: 20px;
}

.katalog-photo-1 {
    width: 150px;
    height: 180px;
    margin-bottom: 5px;
}

.katalog-photo-2 {
    height: 570px;   
}

.ush {
    margin: 40px;
}

.name {
    font-size: 40px;
    font-weight: 800;
}

.price-and-art {
    display: flex;
}

.art {
    margin-left: 200px;
}

.composition {
    margin-top: 40px;
    display: flex;
}

.comp {
    font-weight: 800;
}

.neden {
    margin-left: 108px;
}

.size {
    margin-top: 40px;
    font-weight: 800;
}

.razmeri {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.xxs {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 80px;
    height: 30px;
}

.colors-soz {
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 20px;
}

.colors {
    display: flex;
}

.white{
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 20px;
}

.blackk {
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: black;
    margin-right: 20px;
}

.bluee {
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: #293474;
    margin-right: 20px;
}

.neponitka {
    display: flex;
}

.n1 {
    margin-top: 40px;
    font-size: 12px;
    color: grey;
    margin-right: 20px; 
}

.last {
    margin-top: 20px;
    display: flex;
}

.add {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 150px; 
    height: 35px;
    margin-right: 20px;
}

.basket_ahah {
    border: 1px solid black;
    width: 40px;
    height: 35px;
}

.div-2-colors {
    display: grid;
    margin-left: 170px;
}

.black {
    background-color: black;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.blue {
    background-color: #293474;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.grey {
    background-color: #999f95;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.bezhevi {
    background-color: #7d6342;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.yellow {
    background-color: #cb8701;
    color: white;
    font-size: 19px;
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: flex-end;
}

.div-2-common {
    display: flex;
}

.div-2-firsttext {
    font-family: 'Roboto',sans-serif;
}

.ne-turali {
    margin-top: 20px;
    margin-left: 52px;
    font-size: 22px;
    color: gray;
}

.trololo {
    margin-top: 20px;
    margin-left: 120px;
    width: 550px;
    color: gray;
    font-size: 22px;
}

.atatat {
    font-size: 20px;
    color: gray;
    margin-top: 30px;
    margin-left: 170px;
}

.atatatat {
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 170px;
}

.atatatatat {
    font-size: 17px;
    width: 780px;
    margin-top: 10px;
    margin-left: 170px;
}